div.signup-page-container {
  flex-direction: row;
  gap: 0;
  width: 100vw;
}

div.signup-page-container img {
  height: 100vh;
  width: 30vw;
  object-fit: cover;
  box-shadow: 0vh 0vh 10vh 3vh rgba(0, 0, 0, 0.3);
}

div.signup-form-container {
  height: 100vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

div.signup-form-container form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

div.signup-form-container form h1 {
  margin: 0;
}

div.signup-form-container form input {
  width: 20vw;
}

div.signup-form-container form button {
  width: 20vw;
}
